{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <div class="app-section">
    <h1 class="display-4 text-center">Organization (not used, because = Team page)</h1>
  </div>
</div>
{% endblock %}
