{% set logo_text = (logo_text is defined) ? logo_text : 'Kargain World' %}
{% set hide_text = (hide_text is defined) ? hide_text : false %}
{% set custom_class = (custom_class is defined) ? ' ' ~ custom_class : '' %}
{% set type_text  = (type_text is defined) ? type_text : 'sub' %}

<span class="brand-logo{{ custom_class }}">
  {# <span class="-text -text-{{ type_text }}">{{ logo_text }}</span> #}
  {# SVG Logo #}
  <img src="/build/logo.png" alt="{{ logo_text }}" class="-img" />
</span>
